footer {
  margin-top: 50px;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  align-items: center;
  margin-top: 50px;
  padding: 25px 50px;
  border-top: 1px solid #3b3b3b;
}

.footer section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: rgb(138, 138, 138);
  margin-top: 15px;
}
.footer section h1 {
  justify-self: start;
  width: 100%;
  text-align: start;
  color: white;
}
.footer section > *:not(h1) {
  cursor: pointer;
}
.footer section > *:not(h1):hover {
  color: white;
}
.CopyWrite {
  border-top: 1px solid #3b3b3b;
  padding: 15px 0;
  color: rgb(138, 138, 138);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
