nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  color: white;
  margin: 0 10px;
}
nav div.center {
  width: 40%;
}
nav div.end {
  display: flex;
  gap: 0.7rem;
  justify-content: space-between;
}
nav a:hover {
  color: rgb(232, 168, 110);
}
nav svg:hover {
  fill: rgb(232, 168, 110);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
nav div.end svg {
  width: 23px;
  height: 23px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}

nav .tabletNavBackdrop,
nav .tabletNav {
  position: fixed;
  height: 100vh;
  top: 109px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
nav .tabletNav {
  width: 85vw;
}
nav .tabletNavBackdrop {
  width: 15vw;
}
nav .tabletNav {
  background: rgb(43, 43, 43);
  left: -150%;
  z-index: 1000000000000;
}
nav .tabletNav.Open {
  left: 0;
}
nav .tabletNavBackdrop {
  z-index: -1;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  right: -50%;
}

nav .tabletNavBackdrop.Open {
  opacity: 0.5;
  right: 0;
  z-index: 1000000000000;
}
nav .tabletNav.tabletNav.Open::backdrop {
  background-color: beige;
}
nav .tabletNav ul {
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 40px;
}
nav .tabletNav ul li a {
  width: 100%;
  display: block;
}
nav .tabletNav ul li {
  padding: 10px 15px;
}
nav .tabletNav ul li:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
nav .CartBackdrop,
nav .Cart {
  height: 100vh;
  position: fixed;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  z-index: 100000000000000000000000000000000000000000000000000;
  top: 0;
}
nav .Cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
  background-color: rgb(43, 43, 43);
  font-size: 1.5rem;
  right: -50%;
  padding: 30px 10px;
  opacity: 0;
  transition-property: right;
}
nav .CartBackdrop {
  width: 55%;
  left: -50%;
  transition-property: left;
  background-color: rgba(0, 0, 0);
  opacity: 0;
}
nav .Cart.Open {
  right: 0;
  opacity: 1;
}
nav .CartBackdrop.Open {
  left: 0;
  opacity: 0.5;
}
nav .Cart .CartData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .Cart .CartItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  overflow-y: scroll;
}
nav .Cart .CartItems::-webkit-scrollbar {
  width: 10px;
}

nav .Cart .CartItems::-webkit-scrollbar-thumb {
  background: #434343;
}
nav .Cart .CartItems::-webkit-scrollbar-track {
  background: #2b2b2b;
}
nav .Cart .CartItems li {
  width: 100%;
}
nav .Cart .cartItem {
  display: flex;
  padding-bottom: 10px;
  gap: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
  overflow: hidden;
}
nav .Cart .cartItem img {
  max-width: 100%;
  max-height: 100%;
}
nav .Cart .cartItem > div:not(.ImgContainer) {
  display: flex;
  flex-direction: column;
}
nav .Cart .cartItem .ImgContainer {
  flex-basis: 40%;
}

@media only screen and (max-width: 400px) {
  nav .Cart {
    z-index: -1;
    width: 70vw;
  }
  nav .CartBackdrop {
    width: 30vw;
  }
  nav .Cart.Open {
    z-index: 1999999999999999999999999999999999999999999;
  }
}
