.subscriptionField {
  text-transform: capitalize;
  width: 100%;
  padding: 25px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(67, 67, 67);
}
.subscriptionField div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-grow: 1;
}
.subscriptionField input {
  border: none;
  outline: none;
  width: 100%;
  caret-color: rgb(67, 67, 67);
  color: rgb(67, 67, 67);
  height: 42px;
  padding: 0 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
