.Img {
  width: 100%;
  object-fit: cover;
  margin-top: 50px;
}
.dummyParagraph {
  text-align: center;
  margin: 50px auto 0;
  color: rgb(138, 138, 138);
  width: 90%;
}
.mainDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 50px;
  text-transform: capitalize;
  font-size: 2rem;
}
.mainDisplay .ShopJewels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.mainDisplay .ShopJewels .jewel {
  width: 100%;
}
